:root {
  --primary-brand-color: #d9d9d9;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --hero-background: #2e2f42;
  --modal-background: #fcfcfc;
  --logo-color: #4d5ae5;
  --light-background: #ffffff;
  --another-background: #f4f4fd;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--light-background);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.project-link {
  text-decoration: none;
  color: inherit;
}
.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--pressed-state-color);
}

.button:hover,
.button:focus {
  background-color: var(--pressed-state-color);
  color: var(--light-background);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--pressed-state-color);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* Header*/
.header {
  border-bottom: 1px solid var(--accent-color);
  padding-top: 25px;
  margin-bottom: -1px;
}

.header-container {
  display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  margin-right: 76px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-header {
  color: var(--dark-color);
}

.logo-footer {
  color: var(--another-background);
}

.navigation {
  display: flex;
  margin-right: auto;
}

.navigation-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  display: flex;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-studio {
  color: var(--pressed-state-color);
}

.menu-studio::after {
  content: "";
  display: block;
  width: 48px;
  height: 4px;
  background-color: var(--pressed-state-color);
  border-radius: 2px;
  margin-top: 21px;
}

.menu-portfolio {
  color: var(--pressed-state-color);
}

.menu-portfolio::after {
  content: "";
  display: block;
  width: 66px;
  height: 4px;
  background-color: var(--pressed-state-color);
  border-radius: 2px;
  margin-top: 21px;
}

.contacts {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.contacts-list {
  display: flex;
}
.menu {
}

.phone {
  margin-right: 40px;
}
.mail {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: none;
  clip: rect(0 0 0 0);
}

/* Main */

.hero {
  background-color: var(--dark-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people_office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-text {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--light-background);
  width: 496px;
  margin: 0 auto;
}
.hero-btn {
  min-width: 169px;
  height: 56px;
  background-color: var(--logo-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--light-background);
  cursor: pointer;
  display: block;
  margin: 48px auto 0 auto;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-icon {
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--another-background);
  border-radius: 4px;
  margin-bottom: 8px;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-list li {
  width: calc((100% - 72px) / 4);
}
.advantages-items {
}
.advantages-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}
.advantages-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.works {
  padding-bottom: 120px;
}

.works-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}
.works-list {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}

.works-list-picture {
  width: calc((100% - 48px) / 3);
}

.team {
  background-color: var(--another-background);
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}
.team-list {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}

.team-list-picture {
  background-color: var(--light-background);
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-list-name {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.team-list-text {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-top: 8px;
  margin-bottom: 8px;
}

.team-card-sign {
  padding: 32px 16px;
}

.team_soc_list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team_soc_item {
  width: 40px;
  height: 40px;
}
.team_soc_link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--logo-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team_soc_link:hover {
  background-color: var(--pressed-state-color);
}
.team_soc_link:focus {
  background-color: var(--pressed-state-color);
}
.team_soc_icon {
  fill: #ffffff;
}

.customers {
  padding: 120px 0px;
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 72px;
}

.customer-icon {
  width: 168px;
  height: 88px;
}

.customer-icon-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon-pics {
  fill: var(--subtle-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon-link:hover,
.customer-icon-link:focus {
  border-color: var(--pressed-state-color);
}

.customer-icon-link:hover > .customer-icon-pics,
.customer-icon-link:focus > .customer-icon-pics {
  fill: var(--pressed-state-color);
}

/* FOOTER */

.basement {
  background-color: var(--dark-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.basement-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--another-background);
  margin-top: 16px;
  width: 264px;
}
.basement-box {
  display: flex;
  align-items: start;
}

.basement-left {
  margin-left: 120px;
}
.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-background);
  margin-bottom: 16px;
}

.basement_soc_list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer_soc_item {
  width: 40px;
  height: 40px;
}
.footer_soc_link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--logo-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_soc_icon {
  fill: #ffffff;
}

.footer_soc_link:hover,
.footer_soc_link:focus {
  background-color: #31d0aa;
}

.basement-form-wrap {
  margin-left: 80px;
}
.basement-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
  color: var(--light-background);
}
.basement-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.basement-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
  padding: 0;
  min-width: 165px;
  height: 40px;
  background-color: var(--logo-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--light-background);
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.basement-form-input {
  min-width: 264px;
  height: 40px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: #ffffff;
  align-items: center;
  letter-spacing: 0.04em;
  background-color: var(--dark-color);
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.basement-form-input::placeholder {
  color: #ffffff;
}
.basement-form-btn-text {
  margin-right: 16px;
}

.basement-form-btn-icon {
  fill: #ffffff;
}

/* Portfolio */

.projects {
  padding-top: 96px;
  padding-bottom: 120px;
}
.projects-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.filters-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.filters-item {
}
.portfolio-btn {
  background-color: var(--another-background);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin-top: 72px;
}

.projects-list li {
  width: calc((100% - 48px) / 3);
}

.project-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translate(0, 0);
}

.project-card-wrap {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 500ms linear;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--another-background);
  background-color: var(--logo-color);
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
}
.projects-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.projects-title {
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-top: 8px;
}

.portfolio-card-sign {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  background-color: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal-close-btn:focus {
  background-color: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-close-btn:hover .modai-close-icon,
.modal-close-btn:focus .modai-close-icon {
  fill: var(--light-background);
}

.modai-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.contacts-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 16px;
}
.contacts-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contacts-form-field {
}
.contacts-form-input-name {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
  margin-bottom: 4px;
}
.contacts-form-input {
  width: 100%;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-form-input:focus {
  outline: none;
  border-color: var(--logo-color);
}

.contacts-form-input:focus + .contacts-form-icon {
  fill: var(--logo-color);
}

.contacts-form-input-wrp {
  position: relative;
}

.contacts-form-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-form-message {
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 8px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-message:focus {
  outline: none;
  border-color: var(--logo-color);
}

.contacts-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.contacts-form-checkbox-desc {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
}

.contacts-form-checkbox-desc::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
}

.contacts-form-checkbox:checked + .contacts-form-checkbox-desc::before {
  background-color: var(--pressed-state-color);
  background-image: url(../images/Vector_click.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.contacts-form-checkbox:focus + .contacts-form-checkbox-desc::before {
  outline: 1px solid var(--logo-color);
}

.checkbox-link {
  color: var(--logo-color);
}

.contacts-form-btn {
  min-width: 169px;
  height: 56px;
  background-color: var(--logo-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
